.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
}

.articles > h2 {
    width: 50vw;
}

.articles > figure {
    width: 50vw;
}

.articles img {
    width: 50vw;
}

.articles > section  p {
    text-align: justify;
    margin: 16px;
    width: 50vw;
}

.articles a:visited {
    color: #1976D2;
}

.loading {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}