.navbar{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
.nav-logo{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    color: var(--light-text-header-footer);
    width: 10vw;
    text-align: start;
}
.nav-items ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-buttons {
    margin: 20px;
    width: 10vw;
    text-align: end;
}


.nav-items a{
    margin: 15px;
    color: var(--light-text-header-footer);
    position: relative;
    text-decoration: none;
}