.education-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(28, 28, 109);
    width: 100%;
    padding: 10px;
    color: rgb(28, 28, 109);
}

.education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
    color: rgb(28, 28, 109);
}

.education-card div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.education-card > div > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}