nav > .btn {
    background-color: aquamarine;
    border: none;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#id-nav > .btn:hover {
    background-color: rgb(4, 218, 143);
}

#header {
    padding: 3rem;
    width: 100%;
}

#header > #id-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40rem;
}

#header > #id-nav > .nav-right {
    display: flex;
    gap: 3rem;
}

.search-hidden {
    display: none;
}

  