* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container > #pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

#container > #pokedex > .card-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 20px;
}

#container > #pokedex > .card-body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /*grid-auto-rows:  minmax(50px, auto);*/
    gap: 1rem;
    width: 80%;
    height: 100%;
}

#container > #pokedex > .card-body > .card-pokemon {
    border: 1px solid #ffffff;
    width: 180px;
    height: 250px;
    margin: 20px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border-radius: 10px;
}

.card-pokemon:hover {
    scale: 1.1;
}

.card-pokemon > .card-center {
    text-align: center;
}

.card-pokemon > .card-top  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}


.card-top > img { 
    width: 20px;
}

