.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 40px;
}

header > h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.header > img {
    width: 60px;
}