.nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.btn-nav {
    background: none;
    border: none;
}

.active {
      border-bottom: 1px black solid;
}