.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
    background-color: var(--light-bg-header);
    padding: 10px;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85vw;
}