@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Lato:wght@300;400;700&family=Press+Start+2P&family=Roboto+Mono:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container > #pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

#container > #pokedex > .card-header {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 20px;
    width: 80%;
}

.card-header-data{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

#container > #pokedex > .card-header > .card-header-data > h2{
    width: 250px;
}

.card-body {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /*grid-auto-rows:  minmax(50px, auto);*/
    
    gap: 1rem;
    width: 80%;
    height: 100%;
}

.card-load {
    display: flex;
}

#container > #pokedex > .card-body > .card-pokemon {
    border: 1px solid #ffffff;
    width: 180px;
    height: 250px;
    margin: 20px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border-radius: 10px;
    color: black;
    transition: 0.3s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}

.card-pokemon:hover {
    scale: 1.1;
}

.card-pokemon > .card-center {
    text-align: center;
}

.card-pokemon > .card-center > img {
    text-align: center;
    width: 50%;
    margin-top: 10px;
}

.card-pokemon > .card-top  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}


.card-top > .card-types > img { 
    width: 20px;
    margin-left: 2px;
}

#find-pokemon-type {
    padding: 8px 20px;
    
}


.modal {
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    justify-content: center;
    */
    border: 15px solid #88061c;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: #dd0b2d;
    text-align: center;
    margin: 30px;
}

.modal > .modal-button {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
    padding: 3px;
    gap: 0rem;
}

.modal-button > button {
    font-size: 25px;
    background-color: #dd0b2d;
    border: none;
    padding: 0 5px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 40px;
}

.modal-content > .modal-left {
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    justify-content: center;
    */
    gap: 2rem;
    flex: 50%;
    /*width: 100%;*/
    padding: 20px;
    /*margin: 30px;*/

}

.modal-content > .modal-right {
    /*width: 90%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    text-align: left;
    gap: 2rem;
    flex: 50%;
    background-color: rgb(194, 255, 235);
    border: 3px solid white;
    padding: 20px;
    margin: 30px;
    
}


.modal-left > .modal-header {
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

.modal-left > .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.modal-right > .modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    text-align: left;
    
}

.modal-body > img{
    width: 300px;
    border: 25px solid #f0baba;
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
}

.modal-body > h2 {
    background-color: rgb(194, 255, 235);
    border: 3px solid white;
    padding: 20px;
}



.modal-content > .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

@media (max-width: 800px) {
    .modal-content {
      flex-direction: column;
    }
  }


.electric {
    background-image: url("images/textures/electric_texture.png");
}


.ice {
    background-image: url("images/textures/ice_texture.png");
}

.fire {
    background-image: url("images/textures/fire_texture.png");

}

.grass {
    background-image: url("images/textures/grass_texture.png");
}

.water {
    background-image: url("images/textures/water_texture.png");
}

.bug {
    background-image: url("images/textures/bug_texture.png");
}

.fairy {
    background-image: url("images/textures/fairy_texture.png");
}

.flying {
    background-image: url("images/textures/flying_texture.png");
}

.ghost {
    background-image: url("images/textures/ghost_texture.png");
}

.poison {
    background-image: url("images/textures/poison_texture.png");
}

.ground {
    background-image: url("images/textures/ground_texture.png");
}

.steel {
    background-image: url("images/textures/steel_texture.png");
}

.psychic {
    background-image: url("images/textures/psychic_texture.png");
}

.normal {
    background-image: url("images/textures/normal_texture.png");
}

.dragon {
    background-image: url("images/textures/dragon_texture.png");
}

.rock {
    background-image: url("images/textures/rock_texture.png");
}

.fighting {
    background-image: url("images/textures/fighting_texture.png");
}


.lds-ring {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }