.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 7vh;
    width: 90vw;
}

.navbar > div {
    width: 20vw;
}
.navbar > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    color: '#424242';
    font-size: 18px;
}
.login-nav {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
}

nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.menu-hamburger {
    display: none;
}

.menu-hamburger a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }


@media only screen and (max-width: 600px) {
    .menu-hamburger {
        display: block;
    }
    .navbar > nav {
        display: none;
    }
}


.css-17slstj-MuiSvgIcon-root:hover {
    scale: 0.8;
}